.reg {
    margin-top: 5%;
    text-align: left;
}
/*========================================FIELD CORRECTION=======================================================*/
input:invalid{
    color:red;
}
/*Eine korrekte Eingabe:*/
input:valid{
    color:green;
}
/*Ein Plichtfeld:*/
input[required]{
    background-color:#F08080;
}/*========================================FIELD CORRECTION END=======================================================*/